.composition {
    position: relative;
    transition: all .3s;

    &:hover {
        transform: scale(.95);
    }

    // Photo composition effect
    &__photo {
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: $default-border-radius;
        position: absolute;
        z-index: 1;
        transition: all .3s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 10rem;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.1);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 2;
        }
    }
}