.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 130;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: all .4s ease-in;

    @supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-color: rgba($color-black, .3);
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {

        &:link,
        &:visited {
            color: $color-gray;
            position: absolute;
            top: 2.5rem;
            right: 3rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            transition: all .4s;
        }

        &:hover {
            color: $color-primary;
        }

    }

    &__content {
        @include center-absolute;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: $default-border-radius;
        display: table;
        overflow: hidden;
        transition: all .4s;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);

        @include respond(tab-port) {
            width: 90%;
        }
    }

    &:target &__content {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__left {
        width: 33.3333333%;
        display: table-cell;

        @include respond(phone) {
            display: none;
        }
    }

    &__right {
        right: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-gray-light-2;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;

        @include respond(phone) {
            -moz-column-count: 0;
            -moz-column-gap: 0;
            -moz-column-rule: none;
            column-count: unset;
            column-gap: 0;
            column-rule: none;
        }
    }
}